<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/morse.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h4>Convert {{fromMorse?"from":"to"}}</h4>
            <h1>Morse Code</h1>
            <button type="button" class="btn btn-round" (click)="onSwitch()">Switch</button>
            <br /><br />
            <div class="form-group">
                <input class="form-control" style="font-size:25px" [(ngModel)]="given" (keyup)="fromMorse?from():to()" placeholder="{{fromMorse?'Enter morse code':'Enter text'}}">
            </div>
            <br/>
            <div class="row center"><h1>{{output}}</h1></div>
        </div>
    </div>
</div>
